/* profile.css */

body {
  background-color: #FFF6E9;
}

.purple-box {
  background-color: #4335A7;
  /* Cor lilás */
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.purple-box .form-label {
  color: #ffffff;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  min-width: 70px
}

.purple-box .form-control {
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  /* Fundo claro para contraste */
  flex-grow: 1;
  box-shadow: none;
}

.btn-save {
  background-color: #80C4E9;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.375rem 0.75rem;
  width: 50%;
  /* Reduzido para metade */
  min-width: 100px;
}

.btn-save:hover {
  background-color: #80C4E9;
}

.text-right {
  text-align: right;
}